
$clr-blue: #324157;
$clr-light-blue: #3a71a8;
$clr-red: #c03639;
$clr-pink: #e65d6e;
$clr-green: #30b08f;
$clr-tiffany: #4ab7bd;
$clr-yellow: #fec171;
$clr-panGreen: #30b08f;
$clr-white: white;
$clr-ccc: #ccc;
$clr-000: #000;
$clr-333: #333;
$clr-555: #555;
$clr-777: #777;
$clr-999: #999;
$clr-999aae: #999aae;
$clr-elementBorder: #ebeef5;
$clr-tableSelectHint: #ff7200;
$clr-btn-bg: #397fff;
$clr-btn-bg-hover: #1669ff;
$clr-btn-bg-invalid: #eff1fb;
$clr-btn-color-invalid: #a8a8b5;
$clr-btn-color: #0057f4;
$clr-headerBlue: linear-gradient(-180deg, #2674fa 0%, #276ef6 100%);
$clr-f7faff: #f7faff;
$clr-color2529: #252936;
$clr-blue005: #0057f4;
$clr-consumeLine: #10c3ff;
$clr-userLine: #ff57b1;
$clr-cptLine: #ffa03b;
$clr-cpaLine: #4f91ff;
$clr-crLine: #ff3838;
// aso-ssp theme
$clr-btn-bg-orange: linear-gradient(90deg, #ff826d 0%, #ff4d57 100%);
$clr-nav-shallow: 0 2px 8px 0 rgba(226, 198, 195, 0.18);
$clr-main-shallow: 0 0px 6px 1px rgba(226, 198, 195, 0.28);
$clr-card-shallow: 0 0px 6px 1px rgba(226, 198, 195, 0.28);
$clr-lineHeight: 32px;
$clr-brandColor: #fd3f12;
//聚焦淡粉色背景
$clr-colorf8e: #f8eeeeab;
$px110: 110px;
$px120: 120px;
$px130: 130px;
$px140: 140px;
$px150: 150px;
$px160: 160px;
$px260: 260px;
$form-add-height: 36px;